div.account-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    div.button-part {
        button {
            font-family: "Roboto", sans-serif;
            font-size: 1em;
            font-weight: bold;
            align-items: center;
            justify-content: space-between;
            background-color: var(--purple);
            color: var(--white);
            border: none;
            padding: 10px 30px;
            cursor: pointer;
            border-radius: 20px;
        }

        button.disconnect-button:hover {
            background-color: transparent;
            color: var(--purple);
            outline: 2px solid var(--purple);
        }
    }

    div.address-part {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        p {
            color: black;
            font-size: 1rem;
        }
    }
}