div.account-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    div.button-part {
        button.disconnect-button {
            font-family: "Roboto", sans-serif;
            font-size: 1em;
            font-weight: bold;
            align-items: center;
            justify-content: space-between;
            border: none;
            padding: 10px 30px;
            cursor: pointer;
            border-radius: 20px;

            &.light {
                color: var(--white);
                background-color: var(--purple);
            }

            &.light:hover {
                color: var(--purple);
                outline: 2px solid var(--purple);
            }

            &.dark {
                color: var(--black);
                background-color: var(--orange);
            }

            &.dark:hover {
                color: var(--orange);
                outline: 2px solid var(--orange);
            }

            &:hover {
                background-color: transparent;
            }
        }
    }

    div.address-part {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        p {
            font-size: 1rem;

            &.light {
                color: var(--black);
            }

            &.dark {
                color: var(--white);
            }
        }
    }
}