div.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 20px;

    &.light {
        background: linear-gradient(to right, #FCF7E2, #F6E6F4, #D6FFF6);
        color: black;
    }

    &.dark {
        background: linear-gradient(to left, #25263c, #5813ec);
        color: var(--white);
    }

    button.connect-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 1em;
        padding: 10px 30px;
        border: none;
        border-radius: 20px;
        cursor: pointer;

        &.light {
            color: var(--white);
            background-color: var(--purple);
        }

        &.light:hover {
            color: var(--purple);
            outline: 2px solid var(--purple);
        }

        &.dark {
            color: var(--black);
            background-color: var(--orange);
        }

        &.dark:hover {
            color: var(--orange);
            outline: 2px solid var(--orange);
        }
    }

    button.connect-button:hover {
        background-color: transparent;
    }

    .modal-overlay {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black);

        .modal {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 20px 20px 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

            &.light {
                background-color: var(--white);
            }

            &.dark {
                background-color: var(--black);
            }

            svg {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;

                &.light {
                    color: inherit;
                }

                &.dark {
                    color: var(--white);
                }
            }

            button.wallet-button {
                width: 6.5em;
                height: 2.3em;
                margin: 0.5em;
                border: none;
                border-radius: 0.625em;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
                position: relative;
                z-index: 1;
                overflow: hidden;
                font-weight: 500;

                &.light {
                    color: var(--white);
                    background-color: var(--black);
                }

                &.light:hover {
                    color: var(--black);
                }

                &:after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: -20%;
                    right: -20%;
                    top: 0;
                    bottom: 0;
                    transform: skewX(-45deg) scale(0, 1);
                    transition: all 0.5s;
                    background-color: var(--white);
                }
            }

            button:hover:after {
                transform: skewX(-45deg) scale(1, 1);
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
            }

            button.close-button {
                margin-top: 15px;
            }
        }
    }
}