div.wallet-info-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-weight: bold;

        &.light {
            color: var(--purple);
        }

        &.dark {
            color: var(--white);
        }

        &:first-of-type p {
            font-size: 1rem;
        }

        &:last-of-type h3 {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        div {
            border-radius: 1rem;
        }
    }
}