nav {
    position: absolute;
    top: 4rem;

    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;

        button {
            font-family: 'Roboto', sans-serif;
            font-size: 1em;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: inherit;
            border: none;
            padding: 0.5rem 0.75rem;
            cursor: pointer;
            border-radius: 30px;

            &.light:hover {
                background-color: var(--purple);
                color: var(--white);
            }

            &.dark {
                color: var(--white);
            }

            &.dark:hover {
                background-color: var(--black);
                color: var(--white);
            }

            .world-icon {
                min-width: 1.75rem;
                height: auto;
                padding-right: 0.5rem;
            }

            .arrow-icon {
                min-width: 1.75rem;
                height: auto;
                padding-left: 1.25rem;
            }
        }

        .popup {
            position: absolute;
            top: 60px;
            right: 30px;
            border-radius: 0.5rem;
            padding: 5px;
            border: none;
            outline: none;

            &.light {
                background-color: var(--white);
            }

            &.dark {
                background-color: var(--black);
            }

            .language-option {
                border-radius: 0.5rem;
                font-weight: 500;
                padding: 5px 10px;
                cursor: pointer;
                padding: 1rem;

                &.light {
                    color: var(--black);
                }

                &.light:hover {
                    background-color: #f4f5f4;
                }

                &.dark {
                    color: var(--white)
                }

                &.dark:hover {
                    background-color: #333;
                }
            }
        }
    }
}